/* General sidebar styling */
.navbar {
  position: fixed; /* Keep the sidebar fixed */
  top: 60px; /* Start below the header */
  left: 0;
  width: 200px; /* Fixed width */
  height: 100vh; /* Dynamic height */
  overflow-y: auto; /* Enable scrolling if needed */
  background-color: #25323f; /* Dark background for the sidebar */
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  /* Make sure it stays above other content */
}

.navbar nav {
  flex-grow: 1;
}

/* Navigation links */
.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.3s ease-in;
}

.nav-link:hover,
.nav-link.active {
  background-color: #1e2d3d; /* Hover background */
  border-left: 5px solid #03a9f4; /* Highlight on the left */
}

.nav-icon {
  margin-right: 10px; /* Space between icon and text */
  font-size: 18px; /* Icon size */
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  /* The active link will have the same style as hover */
  background-color: #1e2d3d; /* Hover background */
  border-left: 5px solid #03a9f4; /* Highlight on the left */
}

.nav-icon {
  margin-right: 10px; /* Space between icon and text */
  font-size: 18px; /* Icon size */
}

.nav-link {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .navbar {
    gap: 10px;
  }

  .nav-icon {
    font-size: 22px;
  }

  .nav-link {
    display: block;
  }
}
